# WEEK 1 - TEAM PARIS

# Data Analysis Project - Indian Start-up Funding Analysis

# Project Description

Our team is trying to venture into the Indian start-up ecosystem. As the data experts of the team we are to investigate the ecosystem and propose the best course of action.

Our task is to develop a unique story from this dataset by stating and
testing a hypothesis, asking questions, perform analysis and share
insights with appropriate visualisations.

So as part of the project you are to:

-   Ask questions

-   Develop hypothesis

-   Process the data

-   Analyse the data

-   Visualise the data

# WEEK 1 PROJECT 

# Objectives 

### Submit title and Description of the Project

### Clearly state atleast 3 hypothesis

### Ask atleast 3 questions

In [25]:
# IMPORT NECESSARY TOOLS , PACKAGES, MODULES

In [26]:
# view the dataset

In [27]:
funding_2018 = pd.read_csv('startup_funding2018.csv')
funding_2019 = pd.read_csv('startup_funding2019.csv')
funding_2020 = pd.read_csv('startup_funding2020.csv')
funding_2021 = pd.read_csv('startup_funding2021.csv')

In [28]:
funding_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [29]:
funding_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [30]:
funding_2020.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN

In [31]:
funding_2021.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

## Deductions from overview of the data 

**DEDUCTIONS** 
1. Round/series in 2018 column is similar to Stage in the 2019/2021/2020 dataset


2. Industry in 2018 column is similar to Sector in the 2019/2021/2020 dataset


3. 2018_column set doesn't have 3 columns, YearFounded, Founder, Investor information 


4. 2019 dataset investors are undisclosed


5. Location in 2018 is similar to HeadQuater in 2019-2021

In [32]:
# LOOK AT THE COLUMNS

In [33]:
columns_2018 = pd.DataFrame(funding_2018.columns.values.tolist())
columns_2019 = pd.DataFrame(funding_2019.columns.values.tolist())
columns_2020 = pd.DataFrame(funding_2020.columns.values.tolist())
columns_2021 = pd.DataFrame(funding_2021.columns.values.tolist())

In [34]:
# Get the columns 
inner =columns_2019.join(columns_2018, lsuffix='_columns_2018')
inner2 = columns_2020.join(columns_2021, lsuffix='_columns_2020')
joined = inner.join(inner2, lsuffix='_2019')

# RENAME COLUMN
column_names = joined
new = column_names.rename( columns = 
                          {'0_columns_2018':' 2019_column',
                           '0_2019': '2018_columns', 
                           '0_columns_2020' : '2020_columns',
                           '0' :'2021_columns'})
new

     2019_column   2018_columns   2020_columns   2021_columns
0  Company/Brand   Company Name  Company/Brand  Company/Brand
1        Founded       Industry        Founded        Founded
2    HeadQuarter   Round/Series    HeadQuarter    HeadQuarter
3         Sector         Amount         Sector         Sector
4   What it does       Location   What it does   What it does
5       Founders  About Company       Founders       Founders
6       Investor            NaN       Investor       Investor
7      Amount($)            NaN      Amount($)      Amount($)
8          Stage            NaN          Stage          Stage

In [35]:
# FORMULATE QUESTIONS 
# UNDERSTAND OUR DATASET

In [36]:
funding_2018['Industry'].value_counts().head(10)

—                                 30
Financial Services                15
Education                          8
Information Technology             7
Health Care, Hospital              5
Finance, Financial Services        5
Fitness, Health Care, Wellness     4
Internet                           4
Artificial Intelligence            4
Health Care                        4
Name: Industry, dtype: int64

In [37]:
funding_2018['Round/Series'].value_counts().head(10)

Seed                        280
Series A                     73
Angel                        37
Venture - Series Unknown     37
Series B                     20
Series C                     16
Debt Financing               13
Private Equity               10
Corporate Round               8
Pre-Seed                      6
Name: Round/Series, dtype: int64

In [38]:
funding_2018['Location'].value_counts().head(10)

Bangalore, Karnataka, India         102
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Name: Location, dtype: int64

In [39]:
# Look at 2019 dataset on specific areas

In [40]:
funding_2019['Sector'].value_counts().head(5)

Edtech        7
Fintech       5
AgriTech      4
Technology    4
SaaS          4
Name: Sector, dtype: int64

In [41]:
funding_2019['Stage'].value_counts().head(5)

Series A        10
Pre series A     8
Series B         8
Series D         4
Series C         3
Name: Stage, dtype: int64

In [42]:
funding_2019['Investor'].value_counts().head(5)

Undisclosed                             3
Trifecta Capital                        2
Sixth Sense Ventures                    1
Sunil Gavaskar                          1
Saama Capital, DSG Consumer Partners    1
Name: Investor, dtype: int64

In [43]:
funding_2019['HeadQuarter'].value_counts().head(5)

Bangalore    21
Mumbai       12
Delhi        10
Noida         5
Gurugram      5
Name: HeadQuarter, dtype: int64

In [44]:
# 2020 Dataset

In [45]:
funding_2020['Investor'].value_counts().head(5)

Venture Catalysts            20
Angel investors              12
Mumbai Angels Network        12
Inflection Point Ventures    11
Undisclosed                  10
Name: Investor, dtype: int64

In [46]:
funding_2020['HeadQuarter'].value_counts().head(5)

Bangalore    317
Mumbai       165
Gurugram      79
Delhi         62
Chennai       43
Name: HeadQuarter, dtype: int64

## Deductions from overview of the data 

**DEDUCTIONS** 
1. Round/series in 2018 column is similar to Stage in the 2019/2021/2020 dataset


2. Industry in 2018 column is similar to Sector in the 2019/2021/2020 dataset


3. 2018_column set doesn't have 3 columns, YearFounded, Founder, Investor information 


4. 2019 dataset investors are undisclosed


5. Location in 2018 is similar to HeadQuater in 2019-2021

# Hypothesis

### H
#### Funding on has been dwindling over the years 

### H*0*
#### Funding has been increasing over the years

# Questions

1. At what stage did most companies received funding ?


2. What city/area/location are the most start-ups from ?


3. How much funding did the different companies get?

   (What are the top 10 most funded companies/sectors)


4. What city/ location are the most funded startups from ?


5. Who are the most Funding investors ?

   ( For the years 2019, 2020)

In [47]:
import pandas as pd 

import numpy as np 

import matplotlib.pyplot as plt 

import seaborn as sns 
import os
import glob

In [48]:
cwd = os.path.abspath('')
file_list = os.listdir(cwd)
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['startup_funding2018.csv',
 'startup_funding2019.csv',
 'startup_funding2020.csv',
 'startup_funding2021.csv']

In [49]:
df_2018=pd.read_csv( csv_files[0])
df_2019=pd.read_csv( csv_files[1])
df_2020=pd.read_csv( csv_files[2])
df_2021=pd.read_csv( csv_files[3])

In [50]:
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [51]:
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [52]:
df_2020.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN

In [53]:
df_2021.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

# WEEK 2


## BUSINESS UNDERSTANDING PHASE

### TASKS 

We are to perform 

   1. EDA (Explotatory Data Analysis) to better understand the datasets provided, identify the issues with the data. 
    
    
   2. Write down the issues with our data


   3. Identify how we'll be dealing with the issue

In [54]:
print(df_2018.shape)
print(df_2019.shape)
print(df_2020.shape)
print(df_2021.shape)

(526, 6)
(89, 9)
(1055, 10)
(1209, 9)

In [55]:
# Look at the datasets with date column added 
print( '2018', df_2018.head(0))
print('2019' , df_2019.head(0))
print( '2020' ,df_2020.head(0))
print('2021' , df_2021.head(0))

2018 Empty DataFrame
Columns: [Company Name, Industry, Round/Series, Amount, Location, About Company]
Index: []
2019 Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []
2020 Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage, Unnamed: 9]
Index: []
2021 Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []

In [56]:
# RENAME COLUMN 2018

df_2018 = df_2018.rename( columns = 
                          {'Company Name':'Company/Brand',
                           'Industry': 'Sector', 
                           'Round/Series': 'Stage',
                           'Amount' :'Amount($)',
                           'Location':'HeadQuarter',
                           'About Company' : 'What it does'})

df_2018.head(0
                 )

Empty DataFrame
Columns: [Company/Brand, Sector, Stage, Amount($), HeadQuarter, What it does]
Index: []

In [57]:
# Checking the number of Unnamed column in funding 2020 data 

df_2020['Unnamed: 9'].isna().sum()

1053

In [58]:
# Droped Unnamed column in funding 2020 data 

df_2020= df_2020.drop('Unnamed: 9', axis = 1)

In [59]:
#combined funding data
df_combined = pd.concat([df_2018, df_2019,df_2020, df_2021], ignore_index = True)

In [60]:
df_combined.head()

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN

In [61]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount($)      2873 non-null   object
 4   HeadQuarter    2765 non-null   object
 5   What it does   2879 non-null   object
 6   Founded        2111 non-null   object
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
dtypes: object(9)
memory usage: 202.6+ KB

In [62]:
# Drop column 'WHAT IT DOES'
df_combined = df_combined.drop('What it does', axis = 1)

In [63]:
# Checking Company/Brand for missing data
df_combined['Company/Brand'].isnull().sum()

0

In [65]:
#Checking for missing data in Sector
percent_sector =(df_combined['Sector'].isnull().sum()/2879 )*100
percent_sector

0.6252170892671066

In [67]:
df_combined=df_combined.dropna(subset='Sector')

In [69]:
df_combined['Sector'].isnull().sum()

0