# WEEK 1 - TEAM PARIS

# Data Analysis Project - Indian Start-up Funding Analysis

# Project Description

Our team is trying to venture into the Indian start-up ecosystem. As the data experts of the team we are to investigate the ecosystem and propose the best course of action.

Our task is to develop a unique story from this dataset by stating and
testing a hypothesis, asking questions, perform analysis and share
insights with appropriate visualisations.

So as part of the project you are to:

-   Ask questions

-   Develop hypothesis

-   Process the data

-   Analyse the data

-   Visualise the data

# WEEK 1 PROJECT 

# Objectives 

### Submit title and Description of the Project

### Clearly state atleast 3 hypothesis

### Ask atleast 3 questions

## Deductions from overview of the data 

**DEDUCTIONS** 
1. Round/series in 2018 column is similar to Stage in the 2019/2021/2020 dataset


2. Industry in 2018 column is similar to Sector in the 2019/2021/2020 dataset


3. 2018_column set doesn't have 3 columns, YearFounded, Founder, Investor information 


4. 2019 dataset investors are undisclosed


5. Location in 2018 is similar to HeadQuater in 2019-2021

# Hypothesis

### H
#### Funding on has been dwindling over the years 

### H*0*
#### Funding has been increasing over the years

# Questions

1. At what stage did most companies received funding ?


2. What city/area/location are the most start-ups from ?


3. How much funding did the different companies get?

   (What are the top 10 most funded companies/sectors)


4. What city/ location are the most funded startups from ?


5. Who are the most Funding investors ?

   ( For the years 2019, 2020)

In [5]:
import pandas as pd 

import numpy as np 

import matplotlib.pyplot as plt 

import seaborn as sns 
import os
import glob

In [6]:
cwd = os.path.abspath('')
file_list = os.listdir(cwd)
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['startup_funding2018.csv',
 'startup_funding2019.csv',
 'startup_funding2020.csv',
 'startup_funding2021.csv']

In [7]:
df_2018=pd.read_csv( csv_files[0])
df_2019=pd.read_csv( csv_files[1])
df_2020=pd.read_csv( csv_files[2])
df_2021=pd.read_csv( csv_files[3])

In [8]:
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [9]:
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [10]:
df_2020.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN

In [11]:
df_2021.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

# WEEK 2


## BUSINESS UNDERSTANDING PHASE

### TASKS 

We are to perform 

   1. EDA (Explotatory Data Analysis) to better understand the datasets provided, identify the issues with the data. 
    
    
   2. Write down the issues with our data


   3. Identify how we'll be dealing with the issue

In [12]:
print(df_2018.shape)
print(df_2019.shape)
print(df_2020.shape)
print(df_2021.shape)

(526, 6)
(89, 9)
(1055, 10)
(1209, 9)

In [13]:
# Look at the datasets with date column added 
print( '2018', df_2018.head(0))
print('2019' , df_2019.head(0))
print( '2020' ,df_2020.head(0))
print('2021' , df_2021.head(0))

2018 Empty DataFrame
Columns: [Company Name, Industry, Round/Series, Amount, Location, About Company]
Index: []
2019 Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []
2020 Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage, Unnamed: 9]
Index: []
2021 Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []

In [14]:
# RENAME COLUMN 2018

df_2018 = df_2018.rename( columns = 
                          {'Company Name':'Company/Brand',
                           'Industry': 'Sector', 
                           'Round/Series': 'Stage',
                           'Amount' :'Amount($)',
                           'Location':'HeadQuarter',
                           'About Company' : 'What it does'})

df_2018.head(0
                 )

Empty DataFrame
Columns: [Company/Brand, Sector, Stage, Amount($), HeadQuarter, What it does]
Index: []

In [15]:
# Checking the number of Unnamed column in funding 2020 data 

df_2020['Unnamed: 9'].isna().sum()

1053

In [16]:
# changing Amount from rupees to dollars
df_2018['Amount($)'] =df_2018['Amount($)'].str.replace('₹','')
df_2018['Amount($)'] =df_2018['Amount($)'].str.replace(',','')
df_2018 = df_2018[df_2018['Amount($)'].apply(lambda x: str(x).isdigit())]

In [17]:
df_2018['Amount($)'] = df_2018['Amount($)'].astype(str).astype(float)
df_2018['Amount($)'] = df_2018['Amount($)']//63.2965
df_2018['Amount($)'] = df_2018['Amount($)'].apply(int)
df_2018['Amount($)'] = df_2018['Amount($)'].apply(str)
df_2018['Amount($)']

0         3949
1       631946
2      1026913
3        31597
5        25277
        ...
520     235400
521    3554698
523        118
524     552953
525     552953
Name: Amount($), Length: 319, dtype: object

In [18]:
# Droped Unnamed column in funding 2020 data 

df_2020= df_2020.drop('Unnamed: 9', axis = 1)

In [19]:
#combined funding data
df_combined = pd.concat([df_2018, df_2019,df_2020, df_2021], ignore_index = True)

In [20]:
df_combined.head()

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,3949,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,631946,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,1026913,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,31597,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,25277,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,NaN,NaN,NaN

In [21]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2672 entries, 0 to 2671
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2672 non-null   object
 1   Sector         2654 non-null   object
 2   Stage          1734 non-null   object
 3   Amount($)      2666 non-null   object
 4   HeadQuarter    2558 non-null   object
 5   What it does   2672 non-null   object
 6   Founded        2111 non-null   object
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
dtypes: object(9)
memory usage: 188.0+ KB

In [22]:
# Drop column 'WHAT IT DOES'
df_combined = df_combined.drop('What it does', axis = 1)

In [23]:
# Checking Company/Brand for missing data
df_combined['Company/Brand'].isnull().sum()

0

In [24]:
#Checking for missing data in Sector
percent_sector =(df_combined['Sector'].isnull().sum()/2879 )*100
percent_sector

0.6252170892671066

In [25]:
df_combined=df_combined.dropna(subset='Sector')

In [26]:
df_combined['Sector'].isnull().sum()

0

In [27]:
#Checking for null values column Stage
percent_stage =(df_combined['Stage'].isnull().sum()/2879 )*100
percent_stage

32.33761722820424

In [28]:
# Since the percentage of null value is high we would fill it with undisclosed 
df_combined['Stage'].fillna("Undisclosed",inplace=True)

In [29]:
df_combined['Stage'].isnull().sum()

0

In [30]:
# exploring the Amount column
df_combined['Amount($)']

0            3949
1          631946
2         1026913
3           31597
4           25277
          ...
2667     $3000000
2668    $20000000
2669    $55000000
2670    $26000000
2671     $8000000
Name: Amount($), Length: 2654, dtype: object

In [31]:
df_combined['Amount($)'].unique()

array(['3949', '631946', '1026913', '31597', '25277', '252778', '789933',
       '1579866', '2369', '17378', '7899', '94791', '10269', '552953',
       '1011114', '315973', '15798', '78993', '63194', '473959', '44236',
       '26857', '20538', '197483', '236979', '1643060', '710939',
       '211702', '394966', '417084', '126389', '947', '142187', '1579',
       '315', '1895', '537154', '5403142', '9479197', '15798661',
       '31597323', '3949665', '8689264', '3791678', '1895839', '39496654',
       '695141', '947919', '10269130', '25277858', '1105906', '1619362',
       '18958', '82153041', '22118', '34757', '28437', '56875', '150087',
       '4739', '107904', '3159', '2369799', '67934', '5764', '6319',
       '23697', '110590', '157986', '355469', '208542', '789', '2214972',
       '47395', '19748', '2843', '303334', '1627262', '66354', '2764',
       '22908', '71093', '9479', '262257', '189583', '521355', '1974',
       '2053', '551373', '1137503', '271736', '505557', '55295',
       '2132819', '24329939', '2211812', '22276113', '9163223', '568751',
       '5371545', '8057317', '34757056', '347570', '1105', '243173003',
       '315973237', '63194647', '2922752', '2606779', '11059', '3317718',
       '32064964', '1184899', '1263892', '27805', '42656', '4423625',
       '12638929', '11848', '39496', '11533023', '6319464', '58455',
       '88472', '4107652', '1567701', '631', '8689', '5766511', '138238',
       '1232295', '442362', '4170846', '17852487', '12796916', '22118126',
       '235400', '3554698', '118', '$6,300,000', '$150,000,000',
       '$28,000,000', '$30,000,000', '$6,000,000', 'Undisclosed',
       '$1,000,000', '$20,000,000', '$275,000,000', '$22,000,000',
       '$5,000,000', '$140,500', '$540,000,000', '$15,000,000',
       '$182,700', '$12,000,000', '$11,000,000', '$15,500,000',
       '$1,500,000', '$5,500,000', '$2,500,000', '$140,000',
       '$230,000,000', '$49,400,000', '$32,000,000', '$26,000,000',
       '$150,000', '$400,000', '$2,000,000', '$8,000,000', '$100,000',
       '$50,000,000', '$120,000,000', '$4,000,000', '$6,800,000',
       '$36,000,000', '$5,700,000', '$25,000,000', '$600,000',
       '$70,000,000', '$60,000,000', '$220,000', '$2,800,000',
       '$2,100,000', '$7,000,000', '$311,000,000', '$4,800,000',
       '$693,000,000', '$33,000,000', '$200,000', '$340,000',
       '$45,000,000', '$1,200,000', '$660,000,000', '$120,000',
       '$7,500,000', '$500,000', '$3,000,000', '$10,000,000',
       '$145,000,000', '$100,000,000', nan, '$21,000,000', '$560,000',
       '$275,000', '$4,500,000', '$390,000,000', '$5,100,000',
       '$700,000,000', '$2,300,000', '$700,000', '$19,000,000',
       '$9,000,000', '$40,000,000', '$750,000', '$7,800,000',
       '$80,000,000', '$1,700,000', '$40,000', '$35,000,000', '$300,000',
       '$3,500,000', '$200,000,000', '$1,300,000', '$4,100,000',
       '$575,000', '$800,000', '$18,000,000', '$3,200,000', '$900,000',
       '$250,000', '$4,700,000', '$75,000,000', '$121,000,000',
       '$55,000,000', '$3,300,000', '$16,000,000', '$5,400,000',
       '$4,200,000', '$52,000,000', '$1,100,000', '$118,000,000',
       '$1,600,000', '$18,500,000', '$70,000,000,000', '$800,000,000',
       '$400,000,000', '$176,000,000', '$470,000', '$240,000',
       '$3,000,000,000', '$74,000,000', '$62,000,000', '$500,000,000',
       '$12,500,000', '$2,200,000,000', '$5,060,000', '$225,000,000',
       '$24,700,000', '$7,700,000', '$1,90,67,328', '$51,000,000',
       '$115,000', '$54,000', '$20,000', '$803,146', '$238,000',
       '$10,220,000', '$1,020,000', '$13,400,000', '$170,000,000',
       '$2,900,000', '$543,000', '$90,000,000', '$3,400,000',
       '$23,000,000', '$8,090,000', '$1,030,000', '$5,040,000',
       '$360,000', '$1,400,000', '$650,000', '$54,000,000', '$42,500,000',
       '$11,370,000', '$325,000', '$410,000', '$450,000', '$682,000',
       '$4,050,000', '$1,050,000', '$1,080,000', '$4,300,000',
       '$2,110,000', '$887,000, $23,000,000', '$764,000', '$603,000',
       '$409,000', '$292,000', '$286,000', '$136,000',
       '$800,000,000 to $850,000,000', '$546,000', '$887,000', '$43,000',
       '$40,900', '$2,200,000', '$5,660,000', '$350,000', '$110,000',
       '$122,000,000', '$11,635,000', '$1,065,000', '$669,000',
       '$16,076,000', '$6,700,000', '$266,500', '$2,879,000',
       '$26,500,000', '$351,000', '$ 8,700,000', '$46,761,000',
       '$175,000', '9.600,000', '$11,241,000', '$804,000', '$1,340,000',
       '$467,000', '$133,000', '$3,823,000', '$934,000', '$293,000',
       '$198,000', '$927,000', '$971,000', '$3,060,000', '$1,862,000',
       '$232,000', '$2,888,000', '$1,328,000', '$56,000,000',
       '$2,250,000', '$16,753,000', '$3,700,000', '$1,470,000',
       '$530,000', '$267,000', '$3,344,000', '$7,200,000', '$2,743,000',
       '$6,082,000', '$6,609,000', '$27,700,000', '$5,940,000',
       '$3,964,000', '$197,000', '$4,327,000', '$459,000', '$3,937,000',
       '$1,313,500', '$229,800', '$5,305,000', '$264,000', '$1,750,000',
       '$5,967,000', '$2,980,000', 'Undiclsosed', '$323,000',
       '$1,326,000', '$27,000,000', '$5,200,000', '$2,530,000',
       '$792,000', '$11,363,000', '$1,715,000', '$329,000', '$5,271,000',
       '$8,700,000', '$3,226,000', '$5,900,000', '$44,000,000',
       '$13,000,000', '$8,800,000', '$9,500,000', '$920,000',
       '$35,600,000', '$9,400,000', '$790,000', '$480,000', '$160,000',
       '$8,200,000', '$4,257,000', '$1,410,000', '$349,800', '$786,000',
       '$2,004,000', '$123,000,000', '$248,000', '$24,000,000',
       '$14,259,000', '$24,500,000', '$3,800,000', '$18,370,000',
       '$68,525,000', '$1,834,000', '$23,850,000', '$43,000,000',
       '$21,600,000', '$4,598,000', '$13,137,000', '$115,000,000',
       '$3,900,000', '$670,000', '42.23,000', '$8,500,000', '$3,148,000',
       '$2,600,000', '25,58,000', '$4,049,500', '$10,500,000',
       '$6,500,000', '$43,700,000', '$13,800,000', '$306,900', '$420,000',
       '$627,300', '$113,000,000', '$110,000,000', '$1,397,000',
       '$448,500', '$7,975,700', '$330,000', '$5,600,000', '$1,402,000',
       '$21,500,000', '$296,000,000', '$4,900,000', '$1,402,400',
       '$12,618,300', '$9,900,000', '$982,530', '$70,185,200',
       '$210,000,000', '$84,000,000', '$39,000,000', '$2,700,000',
       '$1,403,400', '$105,000,000', '$103,000,000', '$281,300',
       '$12,700', '$25,000', '$97,500,000', '$507,000', '$8,400,000',
       '$18,300,000', '$125,000,000', '$181,000', '$280,000',
       '$14,700,000', '$13,200,000', '$8,043,000', '$188,000,000',
       '$49,000,000', '$160,000,000', '$1,800,000', '$850,000',
       '$53,000,000', '$7,400,000', '$17,000,000', '$215,000,000',
       '$350,000,000', '$83,000,000', '$65,000,000', '$150,000,000,000',
       '$300,000,000', '$140,000,000', '$Undisclosed', '$2000000',
       '$800000', '$6000000', '$2500000', '$9500000', '$13000000',
       '$5000000', '$8000000', '$1000000', 'Upsparks', '$200000',
       '$12000000', '$1500000', '$1700000', '$5500000', '$400000',
       '$150000000', '$4000000', '$100000000', '$500000', '$15000000',
       '$10000000', '$40000000', '$225000000', '$6700000', '$1300000',
       '$20000000', '$250000', '$21000000', '$1200000', '$52000000',
       '$3800000', '$17500000', '$42000000', '$2300000', '$7000000',
       '$30000000', '$450000000', '$28000000', '$300000', '$3500000',
       '$8500000', '$25000000', '$3000000', '$37000000', '$370000000',
       '$700000', '$16000000', '$100000', '$44000000', '$770000',
       '$125000000', '$35000000', '$50000000', '$4900000', '$145000000',
       '$22000000', '$70000000', '$6600000', '$32000000', '$24000000',
       '$725000', '$461000', 'Series C', 'Seed', '$96000000', '$60000000',
       '$500000000', '$266000000', '$4500000', '$325000000', '$6500000',
       '$1600000', '$225000', '$85000000', '$235000', '$260000',
       '$2900000', '$53000000', '$1100000', '$150000', '$86000000',
       '$130000', '$$100,00', '$111000000', '$265000', '$76000000',
       '$260,000', '$1,000,000,000', '$95,000,000', '$14,300,000',
       '$81,000,000', '$280,000,000', '$720,000', '$600000', '$9000000',
       '$1800000', '$330000', '$undisclosed', '$200000000', '$36000000',
       '$67000000', '$10200000', '$220000000', '$108000000', '$75000000',
       '$450000', '$660000000', 'ah! Ventures', '$45000000', '$3200000',
       '$370000', 'Pre-series A', 'ITO Angel Network, LetsVenture',
       '$48000000', '$3600000', '$11000000', '$192000000', '$65000000',
       '$1400000', '$1900000', '$41000000', '$144000000', '$5200000',
       '$270000000', '$140000', '$250000000', '$320000', '$350000000',
       '$4800000', '$38000000', '$125000', '$26000000', '$64000000',
       '$620000', '$900000', 'JITO Angel Network, LetsVenture',
       '$2600000', '$1,250,000', '$234,000,000', '$460,000,000',
       '$13,500,000', '$195,000,000', '$125,000', '$7,300,000',
       '$16,500,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [32]:
df_combined['Amount($)'] =df_combined['Amount($)'].str.replace('$','')
df_combined['Amount($)'] =df_combined['Amount($)'].str.replace(',','')
df_combined = df_combined[df_combined['Amount($)'].apply(lambda x: str(x).isdigit())]

C:\Users\Jamal\AppData\Local\Temp\ipykernel_9924\1479491936.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_combined['Amount($)'] =df_combined['Amount($)'].str.replace('$','')

In [33]:
df_combined['Amount($)'] = df_combined['Amount($)'].apply(int)

In [34]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2238 entries, 0 to 2671
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2238 non-null   object
 1   Sector         2238 non-null   object
 2   Stage          2238 non-null   object
 3   Amount($)      2238 non-null   int64
 4   HeadQuarter    2147 non-null   object
 5   Founded        1755 non-null   object
 6   Founders       1906 non-null   object
 7   Investor       1837 non-null   object
dtypes: int64(1), object(7)
memory usage: 157.4+ KB

In [35]:
#Explore Founded column
df_combined['Founded']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
2667    2019.0
2668    2015.0
2669    2019.0
2670    2015.0
2671    2019.0
Name: Founded, Length: 2238, dtype: object

In [36]:
percent_founded =(df_combined['Founded'].isnull().sum()/2879 )*100
percent_founded

16.776658562000694

In [37]:
#Founded contains to many errors and not part of our questions, so would be dropping
df_combined = df_combined.drop('Founded', axis = 1)

In [38]:
#Exploring Headquaters
percent_hq =(df_combined['HeadQuarter'].isnull().sum()/2879 )*100
percent_hq

3.160819729072595

In [39]:
df_new=df_combined.dropna(subset='HeadQuarter')
df_new

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,3949,"Bangalore, Karnataka, India",NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,631946,"Mumbai, Maharashtra, India",NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,1026913,"Gurgaon, Haryana, India",NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,31597,"Noida, Uttar Pradesh, India",NaN,NaN
4,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,25277,"Bengaluru, Karnataka, India",NaN,NaN
...,...,...,...,...,...,...,...
2667,Gigforce,Staffing & Recruiting,Pre-series A,3000000,Gurugram,"Chirag Mittal, Anirudh Syal",Endiya Partners
2668,Vahdam,Food & Beverages,Series D,20000000,New Delhi,Bala Sarda,IIFL AMC
2669,Leap Finance,Financial Services,Series C,55000000,Bangalore,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2670,CollegeDekho,EdTech,Series B,26000000,Gurugram,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2671,WeRize,Financial Services,Series A,8000000,Bangalore,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [40]:
for x in df_new['HeadQuarter']:
    e =x.split(',',1)
    df_new['HeadQuarter'] = df_new['HeadQuarter'].replace([x],e[0])

C:\Users\Jamal\AppData\Local\Temp\ipykernel_9924\915160569.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['HeadQuarter'] = df_new['HeadQuarter'].replace([x],e[0])

In [41]:
df_new['HeadQuarter'].head(50)

0     Bangalore
1        Mumbai
2       Gurgaon
3         Noida
4     Bengaluru
5       Kalkaji
6     Hyderabad
7     Bengaluru
8        Mumbai
9     Bengaluru
10      Chennai
11       Mumbai
12       Mumbai
13    New Delhi
14        Delhi
15      Chennai
16       Mumbai
17       Mumbai
18    New Delhi
19      Kolkata
20    Bengaluru
21       Mumbai
22    Bengaluru
23       Mumbai
24    New Delhi
25       Mumbai
26      Chennai
27    Hyderabad
28        India
29       Mumbai
30    New Delhi
31    Bangalore
32       Mumbai
33      Jodhpur
34      Chennai
35       Kanpur
36    Bengaluru
37    Hyderabad
38    New Delhi
39      Kolkata
40       Mumbai
41    New Delhi
42       Mumbai
43        India
44    Bangalore
45    Hyderabad
46    Bangalore
47         Pune
48    Ahmedabad
49    Bangalore
Name: HeadQuarter, dtype: object

In [42]:
for x in df_new['HeadQuarter']:
    e =x.split(',',1)
    if(x == 'India'):
        df_new['HeadQuarter'] = df_new['HeadQuarter'].replace(["India"],"Bangalore")

    df_new['HeadQuarter'] = df_new['HeadQuarter'].replace([x],x)

C:\Users\Jamal\AppData\Local\Temp\ipykernel_9924\300076971.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['HeadQuarter'] = df_new['HeadQuarter'].replace([x],x)
C:\Users\Jamal\AppData\Local\Temp\ipykernel_9924\300076971.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['HeadQuarter'] = df_new['HeadQuarter'].replace(["India"],"Bangalore")

In [43]:
df_new['HeadQuarter'].head(50)

0     Bangalore
1        Mumbai
2       Gurgaon
3         Noida
4     Bengaluru
5       Kalkaji
6     Hyderabad
7     Bengaluru
8        Mumbai
9     Bengaluru
10      Chennai
11       Mumbai
12       Mumbai
13    New Delhi
14        Delhi
15      Chennai
16       Mumbai
17       Mumbai
18    New Delhi
19      Kolkata
20    Bengaluru
21       Mumbai
22    Bengaluru
23       Mumbai
24    New Delhi
25       Mumbai
26      Chennai
27    Hyderabad
28    Bangalore
29       Mumbai
30    New Delhi
31    Bangalore
32       Mumbai
33      Jodhpur
34      Chennai
35       Kanpur
36    Bengaluru
37    Hyderabad
38    New Delhi
39      Kolkata
40       Mumbai
41    New Delhi
42       Mumbai
43    Bangalore
44    Bangalore
45    Hyderabad
46    Bangalore
47         Pune
48    Ahmedabad
49    Bangalore
Name: HeadQuarter, dtype: object

In [44]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2147 entries, 0 to 2671
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2147 non-null   object
 1   Sector         2147 non-null   object
 2   Stage          2147 non-null   object
 3   Amount($)      2147 non-null   int64
 4   HeadQuarter    2147 non-null   object
 5   Founders       1817 non-null   object
 6   Investor       1746 non-null   object
dtypes: int64(1), object(6)
memory usage: 134.2+ KB